:root{
    --color-main: #fc4969;
    --color-black: #393939;
    --color-esport: #2FBDA3;
    --rounded-5: 5px;
    --gap-10: 10px;
    --padding-20: 20px;
    --stroke-color: #867F7F;
    --stroke-item: #dadada;
}